body {
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}

button {
  padding:10px;
  margin:5px;
  border-radius:10px;
  border:none;
  cursor:pointer;
}

.section {
  display:none;
}

#money {
  color:#00ffcc;
  font-size:20px;
}
